:root{
    /* Font */
    --main-font: 'Open Sans', sans-serif;
    --seconnd-font: 'Raleway', sans-serif;
    /* Text Color */
    --text-color: #9DA4BD;
    --light-color: #FFFFFF;
    --effect-tx-color: #FF6C00;
    --list-txt-color: #303030;
    --desc-txt-cl: #555555;
    --grey-txt-color-60:rgba(157, 164, 189, 0.6);
    /* Background Color */
    --effect-bg-color: #FF6C00;
}

/* Reset */

a{
    text-decoration: none;
    color: currentColor;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

img{
    display: block;
}

/* Fover and Focus */

.header-link:hover,
.header-link:focus,
.hero-item:hover,
.hero-item:focus{
    color: var(--effect-tx-color);
}

.header-btn:hover,
.header-btn:focus {
    color: var(--light-color);
    background-color: var(--effect-tx-color);
}

/* header */

.page{
    font-family: var(--main-font);
    font-size: 18px;
    line-height: calc(30 / 18);
        
    color: var(--text-color);
}

.header-link{
    font-weight: 600;
    font-size: 12px;
    line-height: calc(16 / 12);
    letter-spacing: 0.1em;
    
    color: var(--white-color);
}

.tel-link{
    font-weight: 600;
    font-size: 12px;
    line-height: calc(16 / 12);
    letter-spacing: 0.1em;
    
    color: var(--white-color);
    
    margin-right: 40px;
}

.btn{
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: calc(16 / 12);
    letter-spacing: 0.09em;
    text-transform: uppercase;
    
    color: var(--light-color);
    background-color: transparent;

    cursor: pointer;

    width: 160px;
    min-height: 40px;
    padding: 10px 18px;
        
    border: 1px solid var(--effect-bg-color);
    border-radius: 25px;
}

.header-btn{
    color: var(--effect-tx-color);
}

/* Hero */

.hero {
    background-color: grey;
}

.hero-item {
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    letter-spacing: 0.2em;
    
    color: var(--list-txt-color);
}

.hero-uppertitle {
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    
    color: var(--grey-txt-color-60);

    margin-bottom: 20px;
}

.hero-title {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 72px;
    line-height: calc(85 / 72);
    letter-spacing: 0.05em;
    
    color: var(--light-color);

    margin-bottom: 20px;
}

.hero-subtitle {
    letter-spacing: 0.02em;
    
    color: var(--text-color);
}

.slider-btn.active{
    color: var(--light-color);
}

.slider-btn {
    font-family: inherit;
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    letter-spacing: 0.1em;
    
    color: var(--grey-txt-color-60);
    background-color: transparent;
}

/* about us */

.group{
    width: 500px;
}

.uppertitle{
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    
    color: var(--list-txt-color);

    margin-bottom: 20px;
}

.section-title{
    font-family: var(--seconnd-font);
    font-weight: 700;
    font-size: 42px;
    line-height: calc(49 / 42);
    letter-spacing: 0.05em;
    
    color: var(--list-txt-color);

    margin-bottom: 30px;
}

.sub-title{
    margin-bottom: 20px;
}

.desc{
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 400;
    line-height: calc(26 / 14);
    letter-spacing: 0.02em;
    
    color: var(--desc-txt-cl);

    margin-bottom: 40px;
}

/* priece */

.priece-inner-item{
    font-weight: 400;
    font-size: 18px;
    line-height: calc(30 / 18);
    letter-spacing: 0.02em;
    
    color: var(--text-color);

    margin-bottom: 20px;
}

.priece-inner-item:last-child{
    margin-bottom: 0;
}