:root{
    /* Font */
    --main-font: 'Open Sans', sans-serif;
    --seconnd-font: 'Raleway', sans-serif;
    /* Text Color */
    --text-color: #9DA4BD;
    --light-color: #FFFFFF;
    --effect-tx-color: #FF6C00;
    --list-txt-color: #303030;
    --desc-txt-cl: #555555;
    --grey-txt-color-60:rgba(157, 164, 189, 0.6);
    /* Background Color */
    --effect-bg-color: #FF6C00;
    --bg-card-cl: #F7F7F7;
    --bg-price-cl: #111319;
    --bg-contact-cl: #191C26;
    /* Grid */
    --items: 3;
    --indent: 30px;
}

.page {
    font-family: var(--main-font);
    font-size: 18px;
    line-height: calc(30 / 18);

    color: var(--text-color);
}

.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.section{
    padding: 130px 0;
}

/* Reset */

a{
    text-decoration: none;
    color: currentColor;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

img{
    display: block;
    width: 100%;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Fover and Focus */

.header-link:hover,
.header-link:focus,
.hero-item:hover,
.hero-item:focus{
    color: var(--effect-tx-color);
}

.header-btn:hover,
.header-btn:focus,
.priece-btn:hover,
.priece-btn:focus {
    color: var(--light-color);
    background-color: var(--effect-tx-color);
}

/* header */

.header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    width: 100%;

    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
}

.header-container{
    display: flex;
    align-items: center;
}

.header-nav{
    margin-left: 70px;
}

.header-list{
    display: flex;
    gap: 30px;
}


/* альтернатива */

/* .header-item:not(:last-child){
    margin-right: 30px;
} */

.header-link{
    font-weight: 600;
    font-size: 12px;
    line-height: calc(16 / 12);
    letter-spacing: 0.1em;
    
    color: var(--white-color);

    display: block;
    padding: 40px 0; 
}

.header-group{
    margin-left: auto;
}

.tel-link{
    font-weight: 600;
    font-size: 12px;
    line-height: calc(16 / 12);
    letter-spacing: 0.1em;
    
    color: var(--white-color);
    
    margin-right: 40px;
}

.btn{
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: calc(16 / 12);
    letter-spacing: 0.09em;
    text-transform: uppercase;
    
    color: var(--light-color);
    background-color: transparent;

    cursor: pointer;

    width: 160px;
    min-height: 40px;
    padding: 10px 18px;
        
    border: 1px solid var(--effect-bg-color);
    border-radius: 25px;
}

.header-btn{
    color: var(--effect-tx-color);

    transition: color 250ms linear,
                background-color 250ms linear;
}

/* Hero */

.hero-container{
    position: relative;

    display: flex;
    align-items: flex-end;
}

.hero-left-side{
    position: relative;

    width: 155px;

    /* display: flex;
    align-items: flex-end; */

    background-color: var(--light-color);
}

.media-list{
    display: flex;
    align-items: center;
    gap: 40px
}

.hero-media-list{
    transform: rotate(-90deg);
    transform-origin: top left ;
}

.hero-item:first-child::before{
    content: "";
    width: 60px;
    height: 1px;
    display: block;
    background-color: var(--list-txt-color);
}

.hero-item {
    display: flex;
    align-items: center;
    gap: 40px;

    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    letter-spacing: 0.2em;
    
    color: var(--list-txt-color);
}

.hero-link{
    display: inline-block;
    padding: 25px 0;
}

.hero-group{
    padding-top: 273px;
    padding-bottom: 208px;
    padding-left: 100px;

    background-color: var(--bg-contact-cl);
    background-image: url(../img/hero-slader/Slider-img-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    flex-grow: 1;
}

.hero-uppertitle {
    display: flex;
    align-items: center;
    gap: 20px;

    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    
    color: var(--grey-txt-color-60);

    margin-bottom: 20px;
}

.hero-uppertitle::before{
    content: "";
    width: 60px;
    height: 1px;
    display: block;
    background-color: var(--grey-txt-color-60);

}

.hero-title {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 72px;
    line-height: calc(85 / 72);
    letter-spacing: 0.05em;
    
    color: var(--light-color);

    margin-bottom: 20px;
}

.hero-subtitle {
    letter-spacing: 0.02em;
    
    color: var(--text-color);

    max-width: 360px;
}

.slider-control{
    position: absolute;
    right: 20px;
    bottom: 60px;

    display: flex;
    align-items: center;
    gap: 23px;
}

.slider-item:first-child .slider-btn{
    text-align: left;
}

.slider-item:last-child .slider-btn {
    text-align: right;
}

.slider-btn.desablade{
    color: var(--grey-txt-color-60);
    border-bottom: 1px solid rgba(157, 164, 189, 0.6);
}

.slider-btn {
    min-width: 60px;

    padding: 0;
    padding-bottom: 8px;

    font-family: inherit;
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    letter-spacing: 0.1em;
    
    color: var(--light-color);
    background-color: transparent;
    
    border: 0;
    border-bottom: 1px solid rgba(157, 164, 189, 0.6);

    cursor: pointer;
}

/* hero - panination */

.slaider-pagination{
    position: absolute;
    top: calc(50% - 15px);
    right: 20px;
}

.slaider-pagination-item{
    width: 8px;
    height: 2px;

    margin-left: auto;
    
    background-color: var(--text-color);
}

.slaider-pagination-item:not(:last-child){
    margin-bottom: 12px;
}

.slaider-pagination-item.active{
    width: 18px;
       
    background-color: var(--light-color);
}

/* about us */

.about-container{
    display: flex;
    gap: 30px;
}

.about-list{
    display: flex;
    gap: 30px;
}

.about-img{
    animation: slaider-img 6000ms linear 1000ms infinite;
}

.about-group{
    width: 500px;
}

.uppertitle{
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    
    color: var(--list-txt-color);

    margin-bottom: 20px;
}

.section-title{
    font-family: var(--seconnd-font);
    font-weight: 700;
    font-size: 42px;
    line-height: calc(49 / 42);
    letter-spacing: 0.05em;
    
    color: var(--list-txt-color);

    margin-bottom: 30px;
}

.sub-title{
    font-weight: 400;
    font-size: 18px;
    line-height: calc(30 / 18);
    letter-spacing: 0.02em;
    
    color: var(--desc-txt-cl);

    margin-bottom: 20px;
}

.desc{
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 400;
    line-height: calc(26 / 14);
    letter-spacing: 0.02em;
    
    color: var(--desc-txt-cl);

    margin-bottom: 40px;
}

/* priece */

.price{
    max-width: 1600px;

    margin: 0 auto;

    background-color: var(--bg-price-cl);
    background-image: url(../img/price/img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.price-up{
    color: var(--grey-txt-color-60);
}

.price-title{
    color: var(--light-color);
}

.price-list{
    display: flex;
    justify-content: space-between;
    gap: 20px;

    margin-bottom: 50px;
}

.price-item{
    flex-basis: 570px;

    padding: 30px 40px;

    transition: transform 250ms linear;
}

.price-item:first-child{
    background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
    transform: perspective(1000px) rotateY(3deg);
    transform-origin: left center;
}

.price-item:last-child{
    background: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
    transform: perspective(1000px) rotateY(-3deg);
    transform-origin: right center;
}

.price-item:hover{
    transform: rotateY(0);
}

.price-inner-item{
    display: flex;
    align-items: baseline;
    gap: 25px;

    font-weight: 400;
    font-size: 18px;
    line-height: calc(30 / 18);
    letter-spacing: 0.02em;
    
    color: var(--text-color);

    margin-bottom: 20px;
}

.price-inner-item::before{
    content: '';
    display: block;
    height: 1px;

    flex-grow: 1;

    background-color: rgba(157, 164, 189, 0.12);
}

.price-item-serv{
    order: -1;
}

.price-inner-item:not(:last-child){
    margin-bottom: 20px;
}

/* альтернатива */
/* .priece-inner-item:last-child{
    margin-bottom: 0;
} */

.price-btn{
    display: block;
    margin: 0 auto;
}

/* school */

.school-container{
    display: flex;
    justify-content: center;
}

.school-list{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 370px;
    gap: 30px;
}

.school-grouop{
    flex-basis: 500px;

    margin-left: 130px;
}

.school-subtitle{
    font-weight: 400;
}

.school-item{
    max-width: 170px;

    text-align: center;

    background-color: var(--bg-card-cl);
}

.quntity{
    font-weight: 700;
    font-size: 42px;
    line-height: calc(57 / 42);
    text-align: center;
    letter-spacing: 0.05em;
    
    color: var(--list-txt-color);
}

.plus{
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 16px;
    line-height: calc(22 / 16);
    
    color: var(--effect-tx-color);
}

.school-desc{
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
        
    color: var(--list-txt-color);
}

.school-group-text{
    padding: 20px 20px;
}

/* team */

.team-section{
    background-color: var(--bg-card-cl);
}

.team-title{
    font-family: var(--seconnd-font);
    font-weight: 700;
    font-size: 42px;
    line-height: calc(49 / 42);
    letter-spacing: 0.05em;
    
    color: var(--list-txt-color);

    margin-bottom: 44px;
}

.team-list{
    display: flex;
    flex-wrap: wrap;
    gap: var(--indent);
}

.sociale-item{
    flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
    
}


.team-group{
    padding-top: 30px;
}

.sociale-title{
    font-size: 18px;
    line-height: calc(25 / 18);
    text-align: center;
    letter-spacing: 0.02em;
    
    color: var(--list-txt-color);

    margin-bottom: 8px;
}

.sociale-text{
    font-size: 14px;
    line-height: calc(19 / 14);
    text-align: center;
    letter-spacing: 0.02em;
    
    color: var(--effect-tx-color);
}

.social-bottom{
    margin-bottom: 30px;
}

.social-list{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.sociale-link{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;

    background-color: var(--light-color);
    border-radius: 50%;

    color: var(--list-txt-color);
}

.social-icon{
    fill: currentColor;
}

.sociale-link:hover {
    color: var(--effect-tx-color);
    background-color: var(--text-color);
}

/* способ №1 но надо добовлять еще ховер на сылку */
/* .social-icon {
    fill: var(--list-txt-color);
}

.sociale-link:hover{
    background-color: var(--text-color);
}

.sociale-link:hover .social-icon{
    fill: var(--effect-tx-color);
} */
/* ---------------------------------------------- */

/* overlay */

.social-thumb{
    position: relative;

    overflow: hidden;
}

.social-overlay{
    position: absolute;
    top: 0;
    left: 0;

    padding: 20px;

    width: 340px;
    height: 305px;

    background-color: var(--grey-txt-color-60);

    transform: translateY(100%);
    transition: transform 250ms linear;
}

.overlay-text{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    color: var(--effect-tx-color);
}

.sociale-item:hover .social-overlay{
    transform: translateY(0);
}

/* gallery */

.gallery-list{
    display: flex;
    gap: 30px;
}

.gallery-subject{
    margin-bottom: 44px;
}

/* booking */


/* contact */

.contats{
    max-width: 1600px;
    margin: 0 auto;
    
    background-color: var(--bg-contact-cl);
    background-image: url(../img/contacts/bg-contacts.png);
    background-position: left calc(50% + 420px) top;
    background-repeat: no-repeat;
    background-size: contain;
}

/* footer */

.footer{
    max-width: 1600px;
    margin: 0 auto;

    background-color: var(--bg-card-cl);
}

.media-list{
    display: flex;
    align-items: center;
    gap: 40px;
}

.media-list::before{
    content: '';
    
    width: 60px;
    height: 1px;
    display: block;

    background-color: var(--list-txt-color);
}


/* MODAL WINDOW */

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    width: 100%;
    height: 100%;

    background-color: var(--grey-txt-color-60);

    transition: opacity 250ms linear,
                visibility 250ms linear;
}

.modal-window{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 500px;
    height: 500px;
    
    background-color: var(--bg-card-cl);
    
    border-radius: 5px;
}

.modal-btn{
    position: absolute;
    top: 10px;
    right: 10px;

    width: 25px;
    height: 25px;

    border-radius: 50px;

    cursor: pointer;
}

.backdrop.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}